<p id="notice"><%= notice %></p>

<p>
  <strong>Data source name:</strong>
  <%= @organism.data_source_name %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @organism.full_name %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @organism.tax_id %>
</p>

<p>
  <strong>Tax lineage:</strong>
  <%= @organism.tax_lineage %>
</p>

<p>
  <strong>Release note:</strong>
  <%= @organism.release_note %>
</p>

<%= link_to 'Edit', edit_organism_path(@organism) %> |
<%= link_to 'Back', organisms_path %>
